h5, h6 {
  color:rgb(135, 2, 89);
}

.flomo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
  padding: 5px;
  margin: 5px;
}

.select-box {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.select-date {
  display: flex;
  justify-content: center;
}

.card-title {
  background-color:rgb(220, 148, 196);
  width: 100%;
  padding: 2px;
  color: white;
  border-radius: 1em;
  text-align: center;
}

.cardflex{
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-around;
  width: 18rem;
  margin: auto 0;
  padding: .5em;
}

.button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  margin: 5px;
}

.add-flow {
  background-color: rgb(170, 50, 128) !important;
  color: white !important;
}
.add-flow:hover {
  background-color: rgb(246, 203, 232) !important;
  color:white !important;
}

.card-body {
  min-height: 670px;
}

Checkbox {
  color:rgb(170, 50, 128) !important;
}

.delete-btn{
  background-color: rgb(231, 113, 189) !important;
  color: white !important;
  border-color: none !important;
  box-shadow: none !important;
  outline-color: none !important;
}


Button {
  background-color:rgb(246, 203, 232) !important;
  color:rgb(135, 2, 89) !important;
}
Button:hover {
  background-color: rgb(135, 2, 89) !important;
  color: white !important;
}

.header, .footer {
  background-color: rgb(135, 2, 89);
  color: white;
  width: 100vw;
  margin-left: 0;
  margin-bottom: 5px;
  padding: 1em;
}

.add-flow-box {
  display: flex;
  justify-content: right;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

Box {
  max-height: 90vh;
}

